# OS Excludes
.DS_Store
Thumbs.db

# Hugo Excludes
public/
.hugo_build.lock
resources/_gen/

# Local Development Excludes
static/css/test.css
static/css/experimental.css

# Obsidian Excludes
Templates/
.obsidian/
